<div class="card">
  <div>
    <img src="" alt="avatar">
  </div>
  <div class="card-body">
    <div class="card-body__profile-info">
      <div>
        <h2>Title</h2>
        <span>username</span>
      </div>
      <div>
        <p>date</p>
      </div>
    </div>
    <p>Bio</p>
    <div class="card-body__profile-status">
      <div>
        <p class="title">Repos</p>
        <p></p>
      </div>
      <div>
        <p class="title">Followers</p>
        <p></p>
      </div>
      <div>
        <p class="title">Following</p>
        <p></p>
      </div>
    </div>
    <div class="card-body__profile-bottom">
      <div>
        <div class="profile-bottom__content">
          <img src="../../../assets/imgs/icon-location.svg" alt="location-icon">
        </div>
        <p>City</p>
      </div>
      <div>
        <div class="profile-bottom__content">
          <img src="../../../assets/imgs/icon-twitter.svg" alt="twitter-icon">        </div>
        <p>Twitter</p>
      </div>
      <div>
        <div class="profile-bottom__content">
          <img src="../../../assets/imgs/icon-website.svg" alt="">
        </div>
        <p>e-mail</p>
      </div>
      <div>
        <div class="profile-bottom__content">
          <img src="../../../assets/imgs/icon-company.svg" alt="">
        </div>
        <p>job</p>
      </div>
    </div>
  </div>
</div>
