.card {
  background-color: var(--lm-bg-content);
  box-shadow: var(--lm-shadow);
  display: flex;
  padding: 30px;
  margin-top: 20px;
}

.avatar {
  border-radius: 50%;
  width: 117px;
}

.card-body {
  width: 100%;
  margin-left: 5%;
}

.card-body__profile-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-body__profile-info .username {
  color: var(--btn);
}
.card-body__profile-status .infos {
  font-size: 22px;
  color: var(--lm-text-alt);
  font-weight: bold;
}

.card-body__profile-status {
  background-color: var(--lm-bg);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.card-body__profile-status > .title {
  font-family: "Space Mono", monospace;
}

.card-body__profile-status .info {
}

.card-body__profile-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-body__profile-bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-bottom__content {
  padding: 10px;
}

.card-body__profile-bottom .blog {
  word-break: break-all;
}

@media (max-width: 915px) {
  .card {
    flex-wrap: wrap;
    justify-content: center;
  }
}
