<div class="card">
  <div>
    <img *ngIf="userPerfil" class="avatar" src="{{ userPerfil?.avatar_url }}" alt="avatar" />
  </div>
  <div class="card-body">
    <div class="card-body__profile-info">
      <div>
        <h2>{{userPerfil?.name}}</h2>
        <span class="username">@{{ userPerfil?.name }}</span>
      </div>
      <div>
        <p>Joined {{ userPerfil?.created_at | date }}</p>
      </div>
    </div>
    <p>{{ userPerfil?.bio }}</p>
    <div class="card-body__profile-status">
      <div>
        <p class="title">Repos</p>
        <p class="infos">{{ userPerfil?.public_repos }}</p>
      </div>
      <div>
        <p class="title">Followers</p>
        <p class="infos">{{ userPerfil?.followers }}</p>
      </div>
      <div>
        <p class="title">Following</p>
        <p class="infos">{{ userPerfil?.following }}</p>
      </div>
    </div>
    <div class="card-body__profile-bottom">
      <div [ngStyle]="{ opacity: !userPerfil?.location ? 0.5 : 1 }">
        <div class="profile-bottom__content">
          <img
            src="../../../assets/imgs/icon-location.svg"
            alt="location-icon"
          />
        </div>
        <p>{{ userPerfil?.location }}</p>
        <p *ngIf="!userPerfil?.location">Not available</p>
      </div>
      <div [ngStyle]="{ opacity: !userPerfil?.twitter_username ? 0.5 : 1 }">
        <div class="profile-bottom__content">
          <img src="../../../assets/imgs/icon-twitter.svg" alt="twitter-icon" />
        </div>
        <p>{{ userPerfil?.twitter_username }}</p>
        <p *ngIf="!userPerfil?.twitter_username">Not available</p>
      </div>
      <div [ngStyle]="{ opacity: !userPerfil?.blog ? 0.5 : 1 }">
        <div class="profile-bottom__content">
          <img src="../../../assets/imgs/icon-website.svg" alt="" />
        </div>
        <p class="blog">{{ userPerfil?.blog }}</p>
        <p *ngIf="!userPerfil?.blog">Not available</p>
      </div>
      <div [ngStyle]="{ opacity: !userPerfil?.company ? 0.5 : 1 }">
        <div class="profile-bottom__content">
          <img src="../../../assets/imgs/icon-company.svg" alt="" />
        </div>
        <p>{{ userPerfil?.company }}</p>
        <p *ngIf="!userPerfil?.company">Not available</p>
      </div>
    </div>
  </div>
</div>
